/target/
.classpath
/.settings/
/binding/.classpath
/binding/.gitignore
/binding/.project
/binding/.settings/
/console/.classpath
/console/.gitignore
/console/.project
/console/.settings/
/core/.classpath
/core/.gitignore
/core/.project
/core/.settings/
/persistence/.classpath
/persistence/.gitignore
/persistence/.project
/persistence/.settings/
/service/.classpath
/service/.gitignore
/service/.project
/service/.settings/
/webapp/.classpath
/webapp/.gitignore
/webapp/.project
/webapp/.settings/

