<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<global-method-security proxy-target-class="false"
		pre-post-annotations="enabled" />
		
	<http entry-point-ref="digestAuthenticationEntryPoint">
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />

		<access-denied-handler error-page="/403" />
 
		<form-login 
		    login-page="/login" 
		    default-target-url="/dashboard" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		
		<custom-filter ref="digestAuthenticationFilter"
			position="BASIC_AUTH_FILTER" />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="userService" />
	</authentication-manager>
	
	<beans:bean id="digestAuthenticationFilter"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter"
		p:authenticationEntryPoint-ref="digestAuthenticationEntryPoint"
		p:userDetailsService-ref="userService" />
		
	<beans:bean id="digestAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint"
		p:realmName="ComputerDatabase" p:nonceValiditySeconds="10" p:key="acegi" />

</beans:beans>